/* Logo styling */
.navbar-logo, .home-logo-img {
  height: 40px;
  margin-right: 0.75rem;
  border-radius: 20px;
  padding: 5px;
}

@media (max-width: 576px) {
  .navbar-logo, .home-logo-img {
    height: 32px;
    padding: 4px;
  }
} 